<!-- <div class="row">
  <h1>{{title}}</h1>
</div> -->
<div class="row">
  <div class="col-md-4">
    <h2>
      Contacts
      <button type="button" class="btn btn-success pull-right"  (click)="createNewContact()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </h2>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let contact of contacts"
        [class.active]="contact === selectedContact"
        (click)="selectContact(contact)">
        {{contact.firstName}} {{contact.lastName}}
        <span
          class="glyphicon glyphicon-remove pull-right"
          (click)="deleteContact(contact)">
        </span>
      </li>
    </ul>

  </div>

  <div class="col-md-5 col-md-offset-3">
    <contact-detail [contact]="selectedContact" [arrayHandler]="modifyContacts.bind(this)"></contact-detail>
  </div>
</div>
